<html>
  <head>

  </head>

  <body>
    <nav>
       <div class="nav-wrapper">
         <a href="#" class="brand-logo left">Memeaction v1.0</a>
         <ul id="nav-mobile" class="right">
           <li><a href="main-about.html">About</a></li>
           <li><a href="https://github.com/RyanHecht/Memeaction">Source Code</a></li>
         </ul>
       </div>
    </nav>
    <div class="container valign-wrapper center-align" id="mainContainer" style="width:100%;height:100%;">
      <div class="valign" style="width:100%;">
         <div class="row center-align" style="width:100%;">
            <h3>You look <%= emotion %>!</h3>
         </div>
         <div class="row center-align" style="width:100%;">
            <img src="https://memeaction.azurewebsites.net/img/<%= imgID %>"></img>
         </div>
      </div>
    </div>
  </body>
</html>
